html, body, #root {
  height: 100%;
}

.textContentTopMargin {
  margin-top: 1em;
}

.innerCard {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
}

.clearPadding {
  padding:0;
}

.nowrap {
 white-space: nowrap ;
}

